body , html{
    padding: 0;
    margin: 0;
}
/* .conteiner{
    margin: 0 auto;
    background-color: aqua;
    width: 90%;
    padding: 5px;
} */
header{
    height: 60px;
}
.header{
    background-color: beige;
    height: 60px;
    grid-area: header;

}
section{
    background-color: rgb(132, 86, 175);
    /* display: flex; */
}
article{
    background-color: brown;
    grid-area: content;
    height: 240px;
}
nav{
    background-color: antiquewhite;
    grid-area: menu;
}
footer{
    height: 80px;
    background-color: yellow;
    grid-area: footer;
}
.conteiner{
    margin: 0 auto;
    background-color: aqua;
    width: 95%;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'menu content content content'
    'footer footer footer footer '
    ;
}