body , html{
    padding: 0;
    margin: 0;
}
.conteiner{
    margin: 0 auto;
    background-color: aqua;
    width: 90%;
    padding: 5px;
}
header{
    height: 60px;
}
.header{
    background-color: beige;
    width: 100%;
    margin: 0 auto;
}
section{
    background-color: rgb(132, 86, 175);
    overflow: hidden;
}
article{
    background-color: brown;
    width: 75%;
    float: right;
    height: 240px;
}
nav{
    width: 25%;
    float: left;
    background-color: antiquewhite;
    height: 240px;
}
footer{
    height: 80px;
    background-color: yellow;
}